body {
	background: #141414;
	color: #ffffff;
}

.pelicula > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.imagen-container {
	position: relative;
	transition: transform 0.2s;
}

.imagen-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.imagen-container:hover .cubrir {
	opacity: 1;
}

.cubrir {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

img{
	width: 200px;
}